from mqtt://localhost/#influxerdev {
     watch "orobridge/p1/tele/tea/SENSOR" jsonp {
           measurement "tea"
           "total"      <- auto "/ENERGY/Total"
           "yesterday"  <- auto "/ENERGY/Yesterday"
           "today"      <- auto "/ENERGY/Today"
           "power"      <- auto "/ENERGY/Power"
           "voltage"    <- auto "/ENERGY/Voltage"
           "current"    <- auto "/ENERGY/Current"
     }
     watch "sj/#"  auto
}
